{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>{% trans %}Country edit{% endtrans %}</h1>

        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="{% trans %}Edit{% endtrans %}" />
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a href="{{ path('admin_pais_index') }}">{% trans %}Back to the list{% endtrans %}</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
